<a href="https://colab.research.google.com/github/MK316/workshop22/blob/main/session01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üí°**Session 1**
##  Table of Contents:
1. Variables
2. Data types 
3. Packages
4. Functions
---
‚ôªÔ∏è [Learning sources: W3schools.com/Python]("https://www.w3schools.com/python/python_variables_output.asp")


##üìó [1] Variables

: Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

üî≥   Types of variables: Integer, floating number, and string

In [ ]:
# x = 3    'Integer 3 is assigned to the variable 'x'
# y = 3.0  'Floating number 3.0 is assigned to the variable 'y'
# z = "3"  'String "3" is assigned to the variable 'z' 
# single or double quotes for string (both ends should match.)

x = 3             # variable 'x' type: integer 'int'
y = 3.0           # variable 'y' type: floating number 'float'
z = "3"           # variable 'z' type: string 'str'
Z = 'Character'   # variable 'Z'(capital) type: string 'str'

print(type(x))
print(type(y))
print(type(z))
print(type(Z))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# The four fundamental arithmetic operation:

a1 = x + y    # addition
a2 = x - y    # substraction
a3 = x * y    # multiplication
a4 = x/y      # division

print(a1)     # integer + floating = floating
print(a2)
print(a3)
print(a4)

6.0
0.0
9.0
1.0

In [ ]:
# String operation with '+'
# This will concatenate strings

a2 = z + z
a3 = Z + z
print(a2)  # string + string 
type(a2)   # string 33, not integer 33
print(a3)

33
Character3

üî≥  String variable outputs

In [ ]:
text = "I'm learning Python."
print(text)

I'm learning Python.

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x, y, z)

I'm learning Python

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x + y + z)

I'mlearningPython

In [ ]:
x = "I'm"
y = "learning"
z = "Python"

print(x + ' ' + y + ' ' + z +'.') #space can be added

I'm learning Python.

###üî≥  Assigning variable

**1) Rules:**
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
_a1 = 3
a_1 = 4
#1a = 4 (fail)

**2) Multiple Values to Multiple Variables**  
>Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = 3, 3.0, "Character"
print(x)
print(y)
print(z)

3
3.0
Character

**3) Variable assignment using a list**
> => Unpacking

In [ ]:
pos = ["Noun", "Verb", "Adjective", "Adverb"]
x, y, z, m = pos
print(x)
print(y)
print(z)
print(m)

Noun
Verb
Adjective
Adverb

---

##üìó [2] Data types

Data type is an important concept. Variables can store data of different types, and different types can do different things. Python has the following data types built-in by default:

|Types | Kind|
|---|---|
|Text Type:|	str(ing) |
|Numeric Types:|	int(eger), float(ing) |
|Sequence Types:|	**list**, tuple, range |
|Mapping Type:|	**dict(ionary)** |  

üî≥  Commonly used types of data: (string, integer, floating numbers), **list, dictionary,** (tuple)

### üìç **List data handling**

* Accessing items in a listdata
* Replace items
* Adding items
* Inserting items

In [ ]:
# List: list [1, 2, 3, 4, 5] or ["Python", "is", "awesome"]

listdata = [1, 2, 3, 4, 5]
type(listdata)

list

In [ ]:
# Accessing the data: List data

print(listdata[0])  # 1st element of the list
print(listdata[1])  # 2nd element
print(listdata[2])  # 3rd element
print(listdata[3])  # 4th element
print(listdata[4])  # 5th element

# Negative indexing means start from the end

print(listdata[-1]) # 1st from the end
print(listdata[-2])
print(listdata[-3])
print(listdata[-4])
print(listdata[-5])

**üî∏ Range of Indexes**  
> You can specify a range of indexes by specifying **where to start and where to end** the range. When specifying a range, the return value will be a new list with the specified items.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[2:5])   # From 2nd to the element before the 5th (excluding)
print(fruitlist[:5])    # From the 1st to the element before the 5th (excluding)
print(fruitlist[-4:-1]) # the first from the end is excluded.
print(fruitlist[-4:])

In [ ]:
# Change item values:

fruitlist = ["apple", "banana", "cherry", "orange"]
fruitlist[1] = "grapes"

print(fruitlist[1])
print(fruitlist)

grapes
['apple', 'grapes', 'cherry', 'orange']

In [ ]:
# Change multiple item values:
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]
fruitlist[1:3] = ["grapes","banana"]

print(fruitlist)
len(fruitlist)

['apple', 'grapes', 'banana', 'orange', 'kiwi']

5

In [ ]:
# Add items: append
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi"]

fruitlist.append("blueberry")
print(fruitlist)

# Length of items in a list: len()

len(fruitlist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'blueberry']

6

In [ ]:
# Add an item in a specific location: listdata.insert()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.insert(0, "blueberry")
fruitlist.insert(2, "raspberry")
print(fruitlist)

['blueberry', 'apple', 'raspberry', 'banana', 'cherry']

In [ ]:
# Remove items:

fruitlist = ["apple", "banana", "cherry"]

fruitlist.remove("banana")
print(fruitlist)

['apple', 'cherry']

In [ ]:
# Remove specific items: (1) .pop()

fruitlist = ["apple", "banana", "cherry"]
fruitlist.pop(2)  # Remove the 3rd item
print(fruitlist)

# Remove specific index: (2) del 

del fruitlist[0]
print(fruitlist)

['apple', 'banana']
['banana']

### üìç **Dict data handling**

In [ ]:
# Dictionary: dict {"index1": "value1", "index2": "value2"}

dictdata = {'Noun': 'Python', 'Adj': 'awesome', 'Verb': 'is'}
type(dictdata)

dict

In [ ]:
# Accessing the data: Use index for dictionary data

print(dictdata['Noun'])  # 1st element of the list
print(dictdata['Verb'])  # 2nd element
print(dictdata['Adj'])   # 3rd element

print(dictdata['Noun'], dictdata['Verb'], dictdata['Adj'])

Python
is
awesome
Python is awesome

In [ ]:
# Dictionary data with list:

dictdata1 = {'Noun': ["book","table","Birds"], 'Adj': ["expensive","good","awesome"],"Verb": ["is","become","sing"]}

print(dictdata1['Noun'])
print(dictdata1['Noun'][0])   # 1st element of the list with the index 'Noun'
print(dictdata1['Noun'][1])
print(dictdata1['Noun'][2])

['book', 'table', 'Birds']
book
table
Birds

In [ ]:
a = dictdata1['Noun'][2]
b = dictdata1['Verb'][2]

print(a, b)

Birds sing

---

##üìó [3] Packages 
{ [Frequently used packages for me](https://github.com/MK316/workshop22/blob/main/python_packages.ipynb) }: packages and their usage examples

üî≥ A. Import packages: when needed.  
üî≥ B. Install packages: some packages need your manual installation. Check out the error message when importing packages.

### Example 1Ô∏è‚É£, {os} ‚Äî Miscellaneous operating system interfaces

In [ ]:
# Importing packages

import os

#os.chdir(path)
#os.fchdir(fd)
os.getcwd()

'/content'

In [ ]:
# Creating a directory
os.mkdir('myfiles')

In [ ]:
# Creating a subdirectory
os.mkdir('myfiles/test/')

open(file, mode='r', buffering=- 1, encoding=None, errors=None, newline=None, closefd=True, opener=None)

[üíæ  file to download](https://raw.githubusercontent.com/MK316/data/main/DoveAndAnt.txt)

In [ ]:
file = open('DoveAndAnt.txt','r')
text = file.read()
file.close()

text

'A Dove saw an Ant fall into a brook. The Ant struggled in vain to reach the bank, and in pity, the Dove dropped a blade of straw close beside it. Clinging to the straw like a shipwrecked sailor to a broken spar, the Ant floated safely to shore. Soon after, the Ant saw a man getting ready to kill the Dove with a stone. But just as he cast the stone, the Ant stung him in the heel, so that the pain made him miss his aim, and the startled Dove flew to safety in a distant wood.\n\n'

### Example 2Ô∏è‚É£ {matplotlib}
[source link]("https://www.activestate.com/resources/quick-reads/what-is-matplotlib-in-python-how-to-use-it-for-plotting/#:~:text=Matplotlib%20is%20a%20cross%2Dplatform,embed%20plots%20in%20GUI%20applications.")

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Plot some numbers:
plt.plot([1, 2, 3]) 
plt.title("Line Plot")

# Display the plot:
plt.show()

In [ ]:
# Data labels(x), sizes(y), and colors(z) are defined:
x = 'A', 'B', 'C', 'D'
y = [30, 200, 250, 150]
z = ['green', 'yellow', 'orange', 'blue']

# Data is plotted:
plt.pie(y, labels=x, colors=z)

plt.axis('equal')
plt.title('Pie Plot Example')
plt.show()

In [ ]:
# Create a Line2D instance with x and y data in sequences xdata, ydata:

# x data:
xdata=['A','B','C']

# y data:
ydata=[1,3,5]

plt.bar(range(len(xdata)),ydata)
plt.title('Bar Plot Example')
plt.show()

##üìó [4] Functions

>=> "A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result." [source link]("https://www.w3schools.com/python/python_functions.asp")

In [ ]:
# Coding cell: add(a,b)
# Define add(a,b) function

def add(a,b):
  c = a+b
  return print('The result is %d.'%c)

In [ ]:
add(3,4)

The result is 7.

In [ ]:
# Create a function: Sum from x to y

def sum(x,y):
  sum = 0
  for i in range(x, y+1):
    sum = sum + i
  print('The sum from %d to %d'%(x,y), 'is %d'%sum)

In [ ]:
sum(1,100)

The sum from 1 to 100 is 5050

---
üåà The End üåà